<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>505</title>
  <link rel="stylesheet" href="/css/main.css" />

  <style>
    .top-right-menu {
      position: absolute;
      top: 0;
      right: 0;
      padding: 10px;
    }
  </style>
</head>
<body tabindex="-1">
  <%- include('partials/navbar', {page: '/500'}) %>


  <div class="container mx-auto">
    <div class="hero bg-base-200 rounded-lg p-6">
      <div class="hero-content text-center">
        <div class="max-w-md">
          <h1 class="text-5xl font-bold">500 - Internal Server Error</h1>
          <p>We apologize, but there was an internal server error.</p>
          <img src="https://example.com/path-to-your-500-error-image.png" alt="500 Error Image" />
        </div>
      </div>
    </div>
  </div>
</body>
</html>
